table, th, td
{
	border: 1px solid black;
}

th,td
{
	width: 60px;
	height:30px;
}
input
{
	padding: 10px;
}

body
{
	/*background: black;*/
	background-image:url("images/background2.jpg");
	background-repeat: no-repeat;
}

header
{
	color:white;
	margin: 0 auto;
	text-align: center;	
}

section
{
	width: 587px;
	height: auto;	
	background-repeat: no-repeat;
	text-align: center;
	/*padding-top: 200px;*/
	margin: 0 auto;


	width: 100%;
    height: auto;


}

#firstinp
{
	margin-top: 30px;
}

footer
{
	text-align: center;
	margin: 0 auto;
}
table
{
	margin: 0 auto;
}

button
{
	margin-top: 15px;
	width: 150px;
	height:30px;
	border-radius: 15px;
	border-color: lightgrey;
	border-width: 3px;
	font-size: 20px;
	color:white;
	font-weight: bold;
	font-family: verdana;
	/*background-color: background-color:rgba(192,192,192,0.0);*/
}

td, th
{
	background: white;
	border-color: grey;
}