body
{
	background: black;
	background-repeat: no-repeat;
}

header
{
	color:white;
	margin: 0 auto;
	text-align: center;	
}

section
{	
	max-height: 90%;

}

#content 
{
	padding-top: 30px;
	padding-bottom: 60PX;
	max-width: 422px;
    max-height: 80%;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
}

footer
{
	text-align: center;
	margin: 0 auto;
}

table
{
	max-width: 80%;
	margin: 0 auto;
}

table, th, td
{
	border: 1px solid black;
}

th,td
{
	/*width: 60px;*/
	/*height:30px;*/
	background: white;
	border-color: grey;
}

input
{
	padding: 10px;
	width: 80%;
}

#firstinp
{
	margin-top: 30px;
}

button
{
	margin-top: 15px;
	width: 150px;
	height:30px;
	border-radius: 15px;
	border-color: lightgrey;
	border-width: 3px;
	font-size: 20px;
	color:white;
	font-weight: bold;
	font-family: verdana;	
}